@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --back-light: #fbfbfe;
    --text-light: #040316;

    --back-dark: #010104;
    --text-dark: #eae9fc;

    --finish: #36c31d;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: background-color 0.5s, color 0.5s;
    font-family: 'Poppins', sans-serif;
}

.centered-text1 {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.5s, color 0.5s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.centered-text2 {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.5s, color 0.5s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.centered-text3 {
    font-size: 4rem;
    cursor: pointer;
    transition: transform 0.5s, color 0.5s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

.centered-text4 {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.5s, color 0.5s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.centered-text5 {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.5s, color 0.5s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.centered-text6 {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.5s, color 0.5s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.centered-text7 {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.5s, color 0.5s;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body.light-mode {
    background-color: var(--back-light);
    color: var(--text-light);
}

body.dark-mode {
    background-color: var(--back-dark);
    color: var(--text-dark);
}

.light-mode .centered-text1.clicked1 {
    color: var(--accent-light1);
    transform: rotate(360deg);
}

.dark-mode .centered-text1.clicked1 {
    color: var(--accent-dark1);
    transform: rotate(360deg);
}

.light-mode .centered-text2.clicked2 {
    color: var(--accent-light2);
    transform: rotate(360deg);
}

.dark-mode .centered-text2.clicked2 {
    color: var(--accent-dark2);
    transform: rotate(360deg);
}

.dark-mode .centered-text3.clicked3 {
    color: var(--finish);
    transform: rotate(360deg);
}

.light-mode .centered-text3.clicked3 {
    color: var(--finish);
    transform: rotate(360deg);
}

.light-mode .centered-text4.clicked4 {
    color: var(--accent-light1);
    transform: rotate(360deg);
}

.dark-mode .centered-text4.clicked4 {
    color: var(--accent-dark1);
    transform: rotate(360deg);
}

.light-mode .centered-text5.clicked5 {
    color: var(--accent-light2);
    transform: rotate(360deg);
}

.dark-mode .centered-text5.clicked5 {
    color: var(--accent-dark2);
    transform: rotate(360deg);
}

.dark-mode .centered-text6.clicked6 {
    transform: rotate(360deg);
}

.light-mode .centered-text6.clicked6 {
    transform: rotate(360deg);
}

.dark-mode .centered-text7.clicked7 {
    transform: rotate(360deg);
}

.light-mode .centered-text7.clicked7 {
    transform: rotate(360deg);
}
#centered-text3 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 23px;
}